.cont1{position: absolute;top:540px;margin: auto;left: 100px}
.heading{position: absolute;top:530px;left:40px}
.cont2{position: absolute;top:1000px;margin-top: 50px;margin-bottom: 150px}
.cont3{position: relative;top: 50px}
.c_div{border:1px solid #1cc2ffad;margin: 15px auto;height:60px;background-image: linear-gradient(to right,white,#1cc2ffad)}
.course_head{font-size: 1.2rem;position: relative;left: 10px;width: 300px;padding-top:15px}
.arrow{display:inline;position: relative;bottom:45px;left:490px}
.Cimage{position:absolute;top:60px;width:100%;margin: auto;text-align:center;}
.css1{width:100%}
.why1{position: relative;}
.why_div{box-shadow:1px 8px 50px #dedede;margin-right:50px}
.program{width: 70%;margin: auto;text-align: center;line-height: 1.8}
.teacher{box-shadow:1px 8px 50px #dedede;height:485px}
.stucture{text-align: center;margin:50px 0px 1px 0px;position: relative;}
.program_heading{text-align:center;margin: 50px 0px 20px 0px}
.fotter_container1{position: relative;top:2000px;background-color:rgb(0, 182, 207);width:100%;height:235px}
.ose{width:40%;position: relative;left:320px;display: inline;bottom:220px;}
.about_ose1{width:300px;text-align: left;font-size:1.2rem;color:#464646}
.about_ose{;font-size:1.2rem;color:#464646}
.about_ose2{width:220px;font-size:1.2rem;color:#464646}
h3{color:#262626}
.name{font-size:1.2rem;font-weight:500}
.me{position: relative;bottom: 120px;right:205px;}
.why_para{font-size: 1.2rem;color:#464646;margin:20px 0px; }
.payment{position:fixed;top:590px;height:60px;width: 100%;background-color: #fff4e8;}
.price{display: inline;position: relative;left:138px;top:2px;color: #3b3b3b}
.cut{text-decoration:line-through;display: inline;width: 100px;position: relative;left:128px; top:2px;color: #3b3b3b}
.now{display: inline;position: relative;left:118px;top:2px;color: #3b3b3b}
.space{position:relative;top:2310px;height:60px;width: 100%;background-color: #fff4e8;z-index:0}
.enroll{position:relative;top:1px;left: 355px}
.payment_btn{width: 250px;height: 50px;background-color:#1cc2ff;border:none;color:white;font-weight: 500;font-size:1.1rem;position: relative;left: 10px}
.payment_btn:hover{border: 2px solid #1cc2ff ;color:#1cc2ff;background-color:#fff;}
.program{font-size: 1.2rem}

