.Home{position: relative;left: 200px}
.why_div{box-shadow:1px 8px 50px #dedede;margin-right:50px;width: 600px;padding: 20px;position: relative;top: 35px;left:70px}
.teacher{box-shadow:1px 8px 50px #dedede;width: 600px;padding: 20px;position: relative;bottom:500px;left:700px;height:440px}
.teacher{box-shadow:1px 8px 50px #dedede;width: 600px;padding: 20px;position: relative;bottom:400px}
.cont1{position:relative;margin:auto;top:50px}
.cont2{position: relative;top:100px}
/* .logo{width:150px;position: relative;bottom: 20px} */
.c_div{border:1px solid #1cc2ffad;margin: 15px auto;height:60px;background-image: linear-gradient(to right,white,#1cc2ffad)}
.arrow{display:inline;position: relative;bottom:45px;left:490px}
.course_head{font-size: 1.2rem;position: relative;left: 10px;width: 350px;padding-top:15px}
.program_heading{text-align:center;margin: 50px 0px 20px 0px;color: #383838}
.stucture{text-align: center;margin:50px 0px 50px 0px;color:#383838}
.program{width:70%;margin:auto;text-align: center;line-height: 1.8; color: #525252;font-size: 2rem}
.why_para{font-size: 1.2rem;color:#464646;margin:20px 0px; }
.slider0{width:80%;margin:150px auto 50px auto;box-shadow:1px 8px 50px #dedede;}

.payment{position:fixed;top:590px;height:60px;width: 100%;background-color: #fff4e8;}
.price{display: inline;position: relative;left:138px;top:2px;color: #3b3b3b}
.cut{text-decoration:line-through;display: inline;width: 100px;position: relative;left:128px; top:2px;color: #3b3b3b}
.now{display: inline;position: relative;left:118px;top:2px;color: #3b3b3b}
.web_img{display: block}
.card-body{font-size:1.2rem}
.payment_btn{width: 250px;height: 50px;background-color:#1cc2ff;border:none;color:white;font-weight: 500;font-size:1.1rem;position: relative;left:426px}
.payment_btn:hover{border: 2px solid #1cc2ff ;color:#1cc2ff;background-color:#fff;}
.sites{position: relative;top:120px;text-align: center;font-size: 1.6rem}
.web_img1{display: block}
.space1{display:none}





@media(max-width:998px){.payment{position:fixed;top:590px;height:60px;width: 100%;background-color: #fff4e8;visibility: hidden} 
 .cont1{position:relative;margin:auto;top:50px;width:100%;}   
 .why_div{box-shadow:1px 8px 50px #dedede;margin-right:50px;width:100%;}   
.web_img{display:block;width: 100%}
    h3{font-size: 3rem}
    .why_para{font-size: 2rem} .sites{font-size: 3rem}   
    .program_heading{font-size: 3rem}   
    .program{font-size: 2.4rem} 
    .stucture{text-align: center;margin:50px 0px 50px 0px;color:#383838;font-size: 3rem}
  .course_head{font-size: 2.2rem;position: relative;left: 10px;width: 500px;padding-top:35px}  
  .arrow{display:inline;position: relative;bottom:70px;left:640px;width:5%}  
    .card-body{font-size:2.2rem}
    .c_div{border:1px solid #1cc2ffad;margin:55px auto;height:60px;background-image: linear-gradient(to right,white,#1cc2ffad);height:140px;width:900px;left:20px}
    .cont4{position: relative;right: 100px}
    .slider0{width:976px}
    .space1{position: fixed;bottom: 0px;background-color:#fff4e8;left:0;height: 150px;width: 100%;display: block;z-index: 1}
    .now1{display:inline;margin-left: 130px}
    .cut1{display:inline;text-decoration: line-through}
    .price1{display:inline;}
        
    .enroll1{position: relative;top:20px;right:60px; }
    
  .payment_btn{width: 250px;height: 50px;background-color:#1cc2ff;border:none;color:white;font-weight: 500;font-size:2rem;position: relative;left:426px}  
.why_div{box-shadow:1px 8px 50px #dedede;margin-right:50px;width:900px;padding: 20px;position: relative;top: 35px;left:40px;text-align: center;}
.teacher{box-shadow:1px 8px 50px #dedede;width:900px;padding: 20px;position: relative;top:120px;left:40px;height:750px}
    .infinite{position: relative;height:400px}  
    #inst{text-align: center;margin: auto}    
    .about_sameer{font-size: 2rem}   
    .about_sameer1{font-size: 2rem;margin-top:50px;width: 60%}
    .about_sameer2{font-size: 2rem;width:40%;margin-top:50px}
    .verma{font-size: 2rem;margin-bottom: 20px}  
    .you{;height:450px;width: 80%;margin: auto; box-shadow:1px 8px 50px #bfbfbf}    
.image1{width:80%;position:relative;top:25px}
.image2{width:60%;position:relative;top:25px}
.image3{width: 64%;position:relative;top:42px}
.image4{width: 140%;position:relative;top: 35px;right:40px}
.image5{width: 50%;position:relative;top: 60px;left:80px}
.image6{width:50%;position:relative;top: 60px;left:50px}
.image7{width:60%;position:relative;top: 90px}
    .you_sub{color: transparent;display:none;}  
    .you_heading{text-align: center;font-size: 3rem;margin-bottom: 50px}
}


